*.md
*.p
*.pyc
*.png
*.xml
/venv
*/.DS_Store
.ipynb_checkpoints
/.ipynb_checkpoints
*/ipynb_checkpoints
/ipynb_checkpoints
*.csv
reconstruct_lstm_autoencoder.png
text.txt
test.py
merged_dataset_BearingTest_2.csv
